html {
	background: linear-gradient(-45deg, #181818, #3a3938, #141413, #2e2e2d);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

body {
	font-family: 'Cupola', sans-serif;
	margin: auto;
	max-width: 1280px;
}

#hero {
	height: 110%;
	padding: 35vh 0;
}

h1 {
	margin: 0 auto;
	width: fit-content;
	text-align: center;
	color: #919191;
	font-size: 10rem;
	font-weight: 100;
	font-display: block;
}

main {
	margin: 0 auto;
	background: rgba(0, 0, 0, 0);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(2px);
	border-radius: 15px;
}

object {
	-webkit-filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.15));
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.15));
}